*{
    margin: 0;
    padding:0;
}
  
html {
  scroll-behavior: smooth;
}
  
  body .page1 {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgb(75, 93, 255);
    background: linear-gradient(
      0deg,
      rgba(75, 93, 255, 1) 0%,
      rgba(140, 140, 140, 1) 100%
    );
  }
  
  
  
  body .page2 {
    margin: 0;
    height: 100vh;
    background: rgb(140,140,140);
  background: linear-gradient(0deg, rgba(140,140,140,1) 0%, rgba(110,118,193,1) 38%, rgba(76,94,255,1) 100%);
    ;
  }
  
  body .page3 {
    margin: 0;
    height: 100vh;
    background: rgb(92,92,92);
    background: linear-gradient(0deg, rgba(92,92,92,1) 0%, rgba(140,140,140,1) 100%); 
  }
  
  body .page4 {
    margin: 0;
    height: 100vh;
    background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 100%);
    
  }
  
  body .page5 {
    margin: 0;
    height: 100vh;
    background: rgb(92,92,92);
  background: linear-gradient(180deg, rgba(92,92,92,1) 0%, rgba(0,0,0,1) 100%);
  }
  
  .lespages {
    width: 100%;
  }
  
  /*Page 1*/
  
  .spotlum1
  {
    height: 30vh;
    width: 40%;
    border-radius: 0px 0px 100% 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(211,211,211);
  
   filter: blur(120px);
  }
  
  .spotlum2
  {
    height: 30vh;
    width: 40%;
    border-radius: 0px 0px 0px 100%;
  
    position: absolute;
    top: 0;
    right: 0;
    
    background: rgb(211,211,211);
    filter: blur(120px);
   
  }
  
  
  .navhaut
  {
    width: 70%;
    position: fixed;
    margin-left:15%;
    height: 10vh;
    top:4vh;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 2px 5px rgb(71, 71, 71);
    animation: apparition 0.8s ease-out;
  }
  
  ul
  {
    
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: black;
  }

.navtext {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);;
  border-radius: 20px;
  padding: 20px;
  font-size: 14px;
  
}
  
#texteprincipalp1 {
  justify-content: center;
  display: flex;
  color: black;
  margin: 0;
  padding-top: 35vh;
  font-size: 150px;
  font-family: 'Gideon Roman', cursive;
  animation: apparition 2.5s ease-out;
}

#soustextp1 {

  justify-content: center;
  display: flex;
  color: black;
  margin: 0;
  font-size: 55px;
  font-family: 'Gideon Roman', cursive;
  animation: apparition 2s ease-out;
}

@keyframes apparition {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}


#fleche {
 position: fixed;
  justify-content: end;
  display: flex;
  margin-top: 20vh;
  margin-left: 92vw;
  font-size: 55px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 3px 3px 10px black;
}

.flechesah {
  text-decoration: none;
  color: black;
}

.navtext {
  color: rgb(0, 0, 0);

  transition: all 1s ease-out;
}

.navtext:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(128, 128, 128);
}

#logo {
  margin-left: 37%;
  margin-top: 50px;
  
}

.logosg {
  width: 10%;
}

.logosd {
  width: 10%;
}

/*Page 2*/

#titrep2 {
  justify-content: center;
  display: flex;
  color: white;
  margin: center ;
  padding-top: 10%;
  font-size: 65px;
  font-family: 'Gideon Roman', cursive;
}

#parap2 {
  justify-content: center;
  display: flex;
  color: white;
  margin: center ;
  padding-top: 5%;
  font-size: 30px;
  font-family: 'Gideon Roman', cursive;
}

/*Page 3*/

#titrep3 {
  justify-content: center;
  display: flex;
  color: white;
  margin: center ;
  padding-top: 10%;
  font-size: 65px;
  font-family: 'Gideon Roman', cursive;
}


.imgp3 {
    width: 60%;
}

.img2p3 {
  margin-top: 50px;
  width: 50%;
}

.textp3 {
font-size: 50px;

}
.imagesp3 {
  height: 50%;
  display: flex;
  justify-content: center;
}

.p3 {
margin-top: 100px;
margin: auto;
align-content: center;
text-align: center;
}


/*page 4*/

.chargement {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
  margin-left: 47.5%;
  padding-top: 7.5%;
 }
 
 .chargement span {
  width: 10px;
  height: 100px;
  background-color: grey;
  animation: animcharg var(--speed-of-animation) ease-in-out infinite;
 }
 
 .chargement span:nth-child(2) {
  background-color: grey;
  animation-delay: -0.8s;
 }
 
 .chargement span:nth-child(3) {
  background-color: grey;
  animation-delay: -0.7s;
 }
 
 .chargement span:nth-child(4) {
  background-color: grey;
  animation-delay: -0.6s;
 }
 
 .chargement span:nth-child(5) {
  background-color: grey;
  animation-delay: -0.5s;
 }
 
 @keyframes animcharg {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }


 .textbarp5 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  color: white;
  font-family: 'Gideon Roman', cursive;
 }

 .textbar {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
 }

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  width: 70%;
  margin-left: 16%;
}

.progressbar {
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.progressbar[title="barres"] {
  background-color: #4C5EFF;
}

  
.PP {
  width: 30%;
}

.PS {
  width: 60%;
}

.ILL {
  width: 45%;
}

.HC {
  width: 50%;
}

/*Page 5*/

.contact {
  height: 100vh;
  width: 100vw;
}

.contact .gdivp4 {
  margin: 0 auto;
  max-width: 1140px;
}

#h1p4 {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 150px;
} 

.collonep4 {
  text-align: center;
  display: block ;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 75px;
}

.inp4 {
  justify-content: center;
  text-align: center;
  width: 400px;
  border: none;
  border-radius: 3px;
  background-color: grey;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
    box-shadow: 3px 3px 10px black;
}

.gdivp4 {
  text-align: center;
  display: block;
  justify-content: center;
  margin: 0;
}

#envoyer  {
  width: 400px;
  border-radius: 20%;
  border-radius: 3px;
  background-color: rgb(128, 128, 128);
  color: #f1f1f1;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
  margin-top: 35px;
}
